################################################################################
## -------------------------------------------------------------------------- ##
##                                                                            ##
##                        (C) 2011-2013  David Krutsko                        ##
##                        See LICENSE.md for copyright                        ##
##                                                                            ##
## -------------------------------------------------------------------------- ##
################################################################################

ipch/
*.user
*.sdf
*.suo
*.opensdf